<section class="pt-5 pl-5">
  <div class="row">
    <div class="col">
      {{#each details}}
      
        {{#if this.ibnNumber}}

          <div class="pl-5">

            <img
              src="/cover-images/{{this._id}}.jpg"
              alt="err"
              srcset=""
              style="height: 100px;width:100px"
            />
          </div>
          <div class="col">
           
            {{this.ibnNumber}}
            <br />
            {{this.bookName}}
            <br />
            {{this.authorName}}

            <br />
            {{this.language}}
            <br />{{this.description}}
            <br />{{this.purchaseLink}}
            <br />
            {{this.yearOfPublication}}
            <br />{{this.Genre}}
         </div>
            <div class="col">

           
            <br /><a href="/download/{{this._id}}" class="btn btn-success">download</a>
          </div>
        <div class="col">
          <br>{{#if this.likeCheck}}
                  <button onclick="dislikeBook('{{this._id}}')">dis LIKE</button>
                {{else}}
              
                  <button onclick="likeBook('{{this._id}}')">LIKE</button>
                 {{/if}}
              <br>
              <p id="likes">{{this.likeNumber}}</p>
                <form method="post" action="/addCommentToTheDb">
                  <input type="text" name="comment" placeholder="write your comment about this page">
                   <input type="hidden" name="bookId" value="{{this._id}}">
                  <button type="submit" class="btn btn-success">comment</button>
                </form>
               
               

        </div>
          
        {{/if}}
      {{/each}}
    </div>
    <div class="col">
      <h3>comments</h3>
      <hr />
      {{#each review}}
        {{#each this}}
          {{#if this.Date}}
            <div class="row">
              <div class="row">
              <div class="col"><p>{{this.comment}}</p></div>
              
              
              
              
              {{#if this.userVerification}}
                <div class="col" ><button
                onclick="editComment('{{this._id}}','{{this.book_Id}}')"
                    {{!-- href="/deleteComment/{{this._id}}/bookId/{{this.book_Id}}" --}}
                    class="btn btn-danger"
                    
                  >etit commment</button>
                </div>
                <div class="col"><button
                onclick="deleteComment('{{this._id}}','{{this.book_Id}}')"
                    {{!-- href="/deleteComment/{{this._id}}/bookId/{{this.book_Id}}" --}}
                    class="btn btn-danger"
                    
                  >delete commment</button>
                </div>
              {{/if}}
            </div>
           </div>
           <div class="row">
            {{#if this.commentUserVerification}}
             <div class="col"><button onclick="dislikeComment('{{this._id}}','{{this.book_Id}}')" >-</button></div>
             {{else}}
             <div class="col"><button onclick="likeComment('{{this._id}}','{{this.book_Id}}')" >+</button></div>
             {{/if}}
             <div class="col">{{this.likes}}</div>
            
           </div>
          {{/if}}
        {{/each}}
      {{/each}}
    </div>
  </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var deleteComment=(comId,bookId)=>{
 
    $.ajax({
       url:"/deleteComment",
      method:'post',
     
      data:{
        commentId:comId,
        bookId:bookId
    
        },
      success:()=>{location.reload() }
    })
  }
  var editComment=(comId,bookId)=>{
 var edit=prompt("enter the edit");
 if(edit){
    $.ajax({
       url:"/editComment",
      method:'post',
     
      data:{
        commentId:comId,
        bookId:bookId,
        text:edit
    
        },
        success:()=>{
          location.reload()
        }
     
    })
 }else{
   alert("pls enter the edit text")
 }
  }
  var likeComment=(commentId,bookId)=>{
   
     $.ajax({
       url:"/likeCount",
      method:'post',
     
      data:{
        commentId:commentId,
        bookId:bookId,
       count:1
    
        },
        success:()=>{
          location.reload()
        }
     
    })
  }
   var dislikeComment=(commentId,bookId)=>{
     $.ajax({
       url:"/likeCount",
      method:'post',
     
      data:{
        commentId:commentId,
        bookId:bookId,
        count:-1
        
    
        },
        success:()=>{
          location.reload()
        }
     
    })
  }
   var likeBook=(bookId)=>{
 
    $.ajax({
       url:"/bookLiker",
      method:'post',
     
      data:{
        count:1,
        bookId:bookId
    
        },
      success:()=>{location.reload()}
    })
  }
  var dislikeBook=(bookId)=>{

    $.ajax({
       url:"/bookLiker",
      method:'post',
     
      data:{
        count:-1,
        bookId:bookId
    
        },
      success:()=>{location.reload() }
    })
  }
</script>
