<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active pr-4">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item pr-4">
                    <a class="nav-link" href="#">Books</a>
                  </li>
                  <li class="nav-item pr-4">
                    <a class="nav-link" href="#">Review</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    shyam
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logOut">Logout</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </header>
<section>
  <div class="row pr-5 pt-3 pb-3">
  <a class="btn btn-success ml-auto" href="/addBook">Add Book</a>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">ibn</th>
        <th scope="col">Name</th>
        <th scope="col">author</th>
        <th scope="col">language</th>
        <th scope="col">description</th>
        <th scope="col">link to purchase</th>
        <th scope="col">yearOfPublication</th>
        <th scope="col">genre</th>
        <th scope="col">image</th>
        <th scope="col">delete</th>
        <th scope="col">comment</th>
        <th scope="col">view book</th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
        {{#each this}}
          {{#if this.ibnNumber}}
            <tr>

              <td>{{this.ibnNumber}}</td>
              <td>{{this.bookName}}</td>
              <td>{{this.authorName}}</td>
              <td>{{this.language}}</td>
              <td>{{this.description}}</td>
              <td>{{this.purchaseLink}}</td>
              <td>{{this.yearOfPublication}}</td>
              <td>{{this.Genre}}</td>
              <td><img
                  src="/cover-images/{{this._id}}.jpg"
                  alt="err"
                  srcset=""
                  style="height: 100px;width:100px"
                /></td>
              <td><a
                  href="/deleteBook/{{this._id}}"
                  class="btn btn-danger"
                >delete</a></td>
              <td><a href="/toComment/{{this._id}}" class="btn btn-primary">to
                  comment</a></td>
              <td><a
                  href="/bookField/{{this._id}}"
                  class="btn btn-primary"
                >view</a></td>

            </tr>
          {{/if}}
        {{/each}}
      {{/each}}

    </tbody>
  </table>
</section>