<header>
    <div class="top">
        <div class="card-body" style="width: 20%;">
            <form method="POST" id="check-form" action="/search">
            <div class="input-group">
                <input class="form-control" name="searchKey" id="searchKey" type="text" placeholder="Enter Book Name..." />
                <span class="input-group-append" ><button class="btn btn-secondary" type="submit">Go!</button></span>
            </div>
            </form>
            <nav id="navbar" class="navbar">
            <ul>
            <li class="dropdown"><a href="#"><i class="fas fa-ellipsis-v"></i></a>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/book-table">My Books</a></li>
              {{!-- <li><a href="#">Review</a></li> --}}
              <li><a href="/logOut">Logout</a></li>
            </ul>
          </li>
            </ul>
            </nav>
    </div>

    <div class="user pl-3 pb-3">
    <h5><i class="fas fa-user"></i>  {{name}}</h5>
  </div>
</div>
</header>
<section id="home">
    <div class="row justify-content-center" style="width: 100%;">
      <div class="col-xl-7 col-lg-9 text-center" style="z-index: 1;">
        <h1 id="h1">Reading corner !!</h1>
        <h2 id="h2"> “Once you learn to read, you will be forever free.”<br> – Frederick Douglass.</h2>
      </div>
    </div>
  </section>
  <section id="books" class="d-flex align-items-center" style="margin-bottom: 200px;">
    <div class="container position-relative">
      <div class="row card-boxes">
        {{#each books}}
        {{#each this}}
        {{#if this.ibnNumber}}
        <div class="col-md-4">
          <div class="card-box mt-4">
            <img src="/cover-images/{{this._id}}.jpg" alt="err" style="width: 16rem; height:20rem"/>
            <h4 class="title"><a href="/bookField/{{this._id}}">{{this.bookName}}</a></h4>
            <p class="description">{{this.authorName}}</p>
            <a href="/bookField/{{this._id}}"><button class="button mt-2"><span>View</span></button></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
        {{/each}}
      </div>
    </div>
  </section>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script>
 $(document).ready(function() {
    $("#check-form").validate({
rules:{
    searchKey:{
        required:true
    }
},
  message:{ 
      searchKey: "pls enter the book name"
        }

    })
       })
</script>

<style>

  .user{
    padding-left: 1rem;
    z-index: 2;
    color: black;
  }
  
  .input-group {
    position: fixed;
    right: 5rem;
    width: 18rem;
    z-index: 2;
  }
  .navbar {
    padding: 1rem;
    position: fixed;
    right: 1px;
    padding-right: 2rem;
    z-index: 2;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #16507b;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i {
    font-size: 25px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #2487ce;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    right: 0px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
    text-decoration: none;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #2487ce;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  .nav a {
    position: fixed;
    right: 1px;
    padding-right: 15px;
    font-size: 20px;
    color: #124265;
    z-index: 2;
  }
</style>
